div {
    text-align: center;
    background-color: rgb(222, 200, 226);
    padding: 3em;

}

h2 {
    padding-top: 2.5em;
    font-size: 50px;

}

div>p{
    padding: 3em;

}

img { width: 20%;}

.cv {
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.label_form { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



